# Suite configuration
# Assumes your local dev server is at localhost:8000 and 8001 :
#   php -S localhost:8000 -t web
#   php -S localhost:8001 -t web_api
#
suites:
    api:
        actor: ApiTester
        path: api
        modules:
            enabled:
                - Asserts
                - REST:
                    url: http://localhost:8001/v2/
                    depends: PhpBrowser
    backend:
        actor: ApiTester
        path: backend
        modules:
            enabled:
                - REST:
                    url: http://admin:admin@localhost:8000/admin
                    depends: PhpBrowser
    unit:
        path: unit

paths:
    tests: tests
    output: tests/_output
    data: tests/_data
    support: tests/_support

settings:
    shuffle: false
    lint: true