
/* LEGACY : For errors in EMBED MODE */
@media screen and (max-width:640px) {

  body{
    //font-size: 0.65em;
  }
  .wrapSmall{
    width: auto;
  }
  #content{
    padding-bottom:0;
  }
  #wrapper.light{
    top: 0;
    margin: 0;
  }
  #taglineCenter{
    display: none;
  }
  #footer{
    height: auto;
  }
  #error-wrapper h2{
    margin: 12px;
  }
  #error-wrapper a.btn {
    margin: 7px;
  }
  
}
/* **********************   */

@media (max-width: 1010px) {
  .wrap {
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  #hideMisere, #advanced {
    right: 17px;
  }
  #info .infoContent {
    width: initial;
    margin-right: 340px;
  }
  .ribbon {
    display: none;
  }
  #team-wrapper  {
    height: auto;
    .theTeam, .contactUs, .creator {
      text-align: center;
      float: none;
      width: auto;
      &.creator {
        margin: 20px 40px 0 40px;
      }
    }
    a {
      float: none;
      display: inline-block;
    }
  }
}

@media (max-width: 920px) {
  #about-wrapper .aboutRow,
  #about-wrapper .aboutRow.boxed {
    height: auto;
  }
  #about-wrapper .item1, .item2, .itemSolo {
    float: none;
    width: auto;
    min-width: 300px;
    min-height: 200px;
  }
  #info {
    font-size: 0.8em;
  }
  #globalStats {
    #pieChart {
      width: 470px;
    }
  }
}

@media (max-width: 768px) {

  #hideMisere {
    top: 150px;
  }
  #advanced {
    top: 156px;
  }

  #moreOptions {
    display: none;
  }
  #resetQuery {
    right: 20px;
  }
  #searchType, #launch {
    display: inline-block;
    float: none;
    top: 0;
    right: 0;
    position: relative;
    margin: 8px 0 0 0;
    vertical-align: top;
  }
  #launch {
    float: right;
  }
  #options {
    position: absolute;
    bottom: 8px;
    right: 8px;
    top: initial;
      }
  #basic {
    padding-right: 8px;
    min-width: 270px;
  }
  #info, #preSearch, #preSearch .boxed {
    float: none;
    height: auto;
  }
  #info .infoContent {
    width: 100%;
    margin-right: 0px;
    float: none;
    height: auto;
  }
  #info a.btn_more {
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
  }
  #todaysPickOverlay, #todaysPick, #pickPager {
    display: none;
  }
  #globalStats {
    ul {
      display: none;
    }
    #pieChart {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  #tagline{
    height: auto;
    text-align: center;
    p {
      float: none;
      padding: 0;
    }
  }
  h1.logo {
    margin-left: 0px;
  }
  h2, h3{
    text-align: center;
    &.aboutTitles, &.aboutTitle {
      font-size: 1.4em;
    }
  }
  #about-wrapper .aboutRow {
    h3 {
      padding-left: 10px;
      padding-top: 170px;
    }
    p {
      padding-left: 10px; 
    }
  }
  #about-wrapper .item1, .item2, .itemSolo {
    background-position: center top;
    min-height: 300px;
  }
  #team-wrapper .creator .realName {
    font-size: 1.7em;
    padding: 16px 0 13px;
  }
  #contactFormWrapper {
    width: auto;
    height: auto;
    a.btnSendEmail {
      position: relative;
    }
  }
  #navigation a {
    padding: 10px 10px 0;
  }
  #stats h2 {
    font-size: 1.4em;
  }

  #footer {
    .conditions, .copyright {
      float: none;
      text-align: center;
      padding-top: 2px;
    }
    .copycon {
      padding-bottom: 60px;
    }
  }
  #advanced, #availablePlatforms {
    width: auto;
  }
  #mergeResults {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
  }
  #waiting {
    right: 57px;
  }

  #mainTitle{
    padding-top: 10px;
    line-height: 1.2em;
   }

  #mainContent{
    font-size: 0.75em;
    width: 100%;
    margin: 15px auto;
  }

  #trackInfo{
    height: 100px;
    display: table;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
  }

  .boxed{
    background: #151515;
    position: relative;
  }

  #trackInfo .cover{
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }

  #trackInfo .coverlay{
    width: 80px;
    height: 80px;
  }

  #trackInfo .info{
    float: left;
    height: 90px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
  }

  #trackInfo .infoWrapper{
    display: table-cell;
    vertical-align: middle;
    height: 90px;
  }

  #trackInfo .infoContent{
    vertical-align: middle;
  }

  #trackInfo .title{
    font-weight: bold;
    max-width: 180px;
    font-size:1.5em;
    line-height: 0.9em;
    color: #A2A2A2;
    padding-top: 4px;
  }

  #trackInfo .artist{
    font-size: 1.2em;
    max-width: 180px;
    line-height: 1.3em;
    color: #474747;
    padding-top: 4px;
  }

  #trackInfo .album{
    font-size: 0.75em;
    max-width: 180px;
    color: #474747;
    text-transform: uppercase;
  }

  #platforms, #share{
    padding: 10px;
    display: table;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  #platforms{
    padding-bottom: 5px;
  }

  #platforms .listenTitle, #share .mainTitle{
    text-transform: uppercase;
    font-size: 0.75em;
    color: #AAAAAA;
    margin-bottom: 10px;
  }

  #platforms .btns_full{
    margin-right: 5px;
    margin-bottom: 5px;
  }


  #externalPlatformsActions{
    background: #1F1F1F;
    display: block;
    border: 1px solid black;
    padding: 8px 8px 5px 8px;
    position: relative;
    border-radius: 3px;
    float: none;
  }
  #linkHolder{
    display: none;
  }
  #embed {
    display: none;
  }

  /* RESULTS */
  #results .nbResults{
    text-align: center;
    padding: 5px 10px;
    color: #5F5F5F;
    font-size: 0.75em;
  }

  .tHeader{
    display: none;
  }

  .tResult{
    position: relative;
    background: #262626;
    height: 74px;
    padding-left: 88px;
    padding-top: 6px;
    border-bottom: 1px solid #1E1E1E;
    border-top: 1px solid #303030;
    display: block;
  }

  li.tResult:last-child{
    border-bottom: 1px solid #2A2A2A;
  }

  .tImage{
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .tImage img{
    height: 74px;
    width: 74px;
  }

  .tImage .coverlay{
    height: 72px;
    width: 72px;
  }

  .tTitle{
    color: #CFCFCF;
    font-size: 0.75em;
  }

  .tArtist{
    font-size: .7em;
    color: #7A7A7A;
  }
  .tAlbum{
    font-size: .4em;
    text-transform: uppercase;
    color: #646464;
  }

  .tTitle, .tArtist, .tAlbum {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 73%;
    width: auto;
    white-space: nowrap;
    display: block;
    height: auto;
  }

  .wrapper {
    height: auto;
  }
  .tFeat{ display: none;}

  .tLinks{
    float: right;
    width: 110px;
    overflow: hidden;
    margin-top: -38px;
    margin-right: 2px;
    text-align: right;
    height: 68px;
  }

  a.tShare{
    float: left;
    margin-top: 0;
    margin-left: 8px;
    display: inline;
  }

  a.backToTop{
    display:none;
  }

  // Trends
  #mostViewedArtists {
    display: none;
  }
  #mostViewedTracks, #mostViewedAlbums {
    text-align: center;
  }
  #mostViewedTracks ul li, #mostViewedAlbums ul li {
    margin: auto;
    width: 100%;
    span.count, span.order, span.title, span.artist, a {
      width: 100%;
      max-width: none;
      display: block;
    }
    a {
      height: auto;
      padding: 90px 0;
      box-sizing: border-box;
    }
  }
}