database:
  server: "localhost"
  name: "tuneefy"
  user: "tuneefy"
  password: "ChangeMe"

api:
  use_oauth: false # for testing purposes
  access_lifetime: 3600
  
intents:
  lifetime: 600 # seconds
  secret: c0dac0017e8e1311a4c19c3f9d743dba

website:
  max_results: 100
  stats_limit: 5

urls:
  base: 12345678
  front: https://tuneefy.com
  format: /s/{type}/{uid}

mail:
  smtp_server: "tuneefy.com"
  smtp_user: "user"
  smtp_password: "pwd"
  contact_email: "contact@tuneefy.com"
  team_email: "team@tuneefy.com"

statistics:
  ga_tracker_id: 0

uservoice:
  enabled: false
  client_id: 0 

facebook:
  admin_user: ""
  app_id: 0
  app_secret: ""
  page_id: 0

google_plus:
  publisher_id: "https://..."

admin_users:
  admin: admin