parameters:

  database:
    server: "localhost"
    port: 1122
    name: "tuneefy"
    user: "tuneefy"
    password: "ChangeMe"

  mail:
    smtp_server: "tuneefy.com"
    smtp_user: ""
    smtp_password: ""
    contact_email: "contact@tuneefy.com"
    team_email: "team@tuneefy.com"

  statistics:
    ga_tracker_id: 0

  uservoice:
    enabled: false
    client_id: 0 

  facebook:
    admin_user: ""
    app_id: 0
    app_secret: 0
    page_id: 0

  google_plus:
    publisher_id: 0