<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="content-language" content="{{ lang }}">
  <title>Administration</title>
</head>
<body>
{% block content %}{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="/js/zepto.min.js"></script>
{% endblock %}
</body>
</html>