{% set schemaType, page = "WebPage", "503" %}

{% extends 'base.html.twig' %}

{% block content %}
<div id="error-wrapper" class="bdTop txtS">
  <h2>{{ "error.503.title"|trans }}</h2>
  <p>{{ "error.503.description"|trans|raw }}</p>
  <a class="btn" target="_top" href="http://data.tuneefy.com">{{ "error.action.api"|trans }}</a>
</div>
{% endblock %}